
<div class="jumbotron">
  <h2>Processing!</h2>
  <p>
    <small>Our mockup monkeys are hard at work!</small>
  </p>
  <p>
    <small>You can leave this page if you wish and we will send you an email when your mockup is ready!</small>
  </p>
</div>

<blockquote>
  <p>Depending on your task, this can take a few minutes.</p>
  <footer> Said somebody famous once at <cite title="Source Title">WeMockup</cite></footer>
</blockquote>


<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{vm.item.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{vm.item.progress}}%">
    {{vm.item.progress}} %
  </div>
</div>
